/*Boton register*/
.register {
    padding: .5vw .7vw;
    border-radius: 10px;
    border: 0;
    background-color:  #D5B75E;
    letter-spacing: 1.5px;
    font-size: 1vw;
    transition: all 0.3s ease;
    /* box-shadow: #E9C9C2 0px 10px 0px 0px; */
    color: white;
    font-weight:700;
    cursor: pointer;
    /* bottom: 100px; */
    height: 40px;
    position: relative;
    font-family: "Monterchi-Serif";
    width: 90%;
  }
  
.register:hover {
    background-color: rgba(213, 183, 94, 0.7);
    color: white;
    /* box-shadow: #9D7378 0px 7px 0px 0px; */
  }
  
.register:active {
    background-color:#D5B75E;
    /*50, 168, 80*/
    color:white;
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    /* transform: translateY(5px); */
    transition: 200ms;
  }
  @media (max-width: 750px){
    .register {
      padding-top: 1.5vw;
      font-size: 3vh;
  }
  }

  #vermas{
    margin: 1vw 10vw;
    width: 10vw;
  }