.header-content {
    background-color: #EAC9C2;
} 
.olas {
    opacity: 1;
}

section {
    display: flex ;
    justify-content: space-evenly;
}
.Cl {
    flex: 1;
}
.pagina {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 9vw;
    background-color: white;
    padding: 5vw;
    text-align:left;
    color: #9d7378;
    gap: 4vw;
}
.presencial{
    display: flex;
    place-items: center;
    font-size: 1.3vw;
    background-color: #F6DEDC;
    padding-right: 2vw;
    width: 100%;
    border-radius: 5% / 10%;
}
.presencial ul{
    /* display: flex; */
    /* flex-direction: column; */
}
body{
    /* padding-top: 100px; */
    background-color: #FFF;
}
.pagina h1 {
    text-align: center;
    font-size: 3vw;
}
.pagina p {
    font-family: "Monterchi-Serif";
    font-size: 20px;
}
.pagina ul{
    list-style: none;
}
.texto{
    height: 100%;
    place-content: center;
}
.texto h1 {
    font-size: 1.5vw;
    /* flex-direction: top; */
}
.imgclass {
    margin: 5vw 3vw 5vw 5vw;
    width: 30%;
    max-width: 390px;
    /* margin-right: ; */
    /* align-items: center; */
}
.imgclass img{
    width: 100%;
    border-radius: 10%;
}
