@media (max-width: 1449px){
    .header-content{
        overflow: hidden;
    }
    #men {
        overflow: hidden;
        width: 100%;
    }
    .navbar {
        position: relative;
    }
    .tooltip-container {
        margin-top: 10px;
        align-self: center;
    }
    .burger{
        display: flex;
    }
    
    /*contenido*/
    .d1 h2{
        margin-bottom: 2vw;
        font-size: 3vw;
    }
    .d1 h3 {
    font-size: 2vw;
    }
    
}

@media(max-width: 767px){
    .input-group{
        flex-wrap: wrap;
        /* place-items: center; */
        /* justify-content: 0; */
    }
    .register{
        position: relative;  
    }
    .reg {
        margin: 0;
        justify-content: center;
    }
    /*Clases*/
    .presencial {
        flex-direction: column;
    }

}

@media(max-width: 757px){
    header {
        height: 100%;   
        width: 1%;
    }
    .header-content{
        /* height: 100px; */
        height: 100%;
        width: 1%;
        /* left: -100%; */
    }
    .navbar{
        left: -100vw;
        width: 60vw;
        padding-top: 0px;
        padding-bottom: 0;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        background-color: #EAC9C2;
        justify-content: flex-start;
        transition: left 0.5s ease;
        position:absolute;
    }
    .header-content{
        /* height: 60px; */
        height: 100%;
        flex-direction: column;
        background-color: transparent;
    }
    .olas{
        display: none;
    }
    .SI {
        display: flex;
    }
    .logo {
        margin-top: 10%;
        justify-content: center;
        height: 100px;
    }
    .logo img {
        width: 100%;
    }
    .menu{
        margin-top: 10%;
        /* height: 100%; */
        /* left: 0vw; */
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .menu li a {
        font-size: 6vw;
    }
    .submenu {
        left: 0%;
        position: relative;
        transform: none;
    }
    .submenu li a {
        justify-content: flex-start;
        font-size: 5vw;
    }
    .menu-link i {
        display: inline-block;
    }
    
    .menu-link.open + .submenu {
        display: block;
    }
    
    .tooltip-container {
        display: none;
    }
    /*contenido*/
    .d1 h2{
        text-align: center;
        margin-bottom: 3vw;
        font-size: 5vw;
    }
    .d1 h3 {
    font-size: 1rem;
    }
    .d1 svg, .d2 svg, .d3 svg, .d4 svg{
        height: 10vw;
    }
    .d2 {
        display: flex;
        flex-direction: column;
    }
    .clases, .Experiencias, .servicios, .cursos {
        margin: 0;
    }
    .category {
        font-size: 5vw;
    }
    .heading {
        font-size: 1.2rem;
    }
    .input-group {
        margin-bottom: 10vw;
    }
    /*Clases*/
    .presencial {
        border-radius: 10%/5%;
    }
    /*pie*/
    footer .social-icons{
        gap:10vw;
    }
    footer .social-icons i{
        font-size: 30px;
    }
    footer .social-icons span{
        display: none;
    }
    
    
} 
@media(max-width: 430px) {
    .olas-abajo{
        height: 10vw;
    }
    .logo img {
        object-fit: contain;
    }
    .large-image .portada{
        /* height: 100%; */
        top: 0%;
        /* height: 50%; */
        width: 150%;
        transform: translateX(-110px);
        /* position: relative; */
    }
    .menu a:hover {
        background-color: transparent;
    }
    .submenu {
        position: relative;
        left: 0vw;
    }
    .frase {
        top:13vh;
        padding-left: 0vw;
        width: 70%;
        font-size: 3vw;
    }
    .frase h3{
        font-size: 3vw;
    }
    .contenido {
        margin-top: 20vh;
    }
    .d1 input {
        font-size: large;
    }
    .d1 .register {
        font-size: 4vw;
    }
    .card{
        justify-items: center;
        margin: 5vw;
    }
    .clases, .Experiencias, .servicios, .cursos{
        margin:0;
    }
    .category {
        font-size: 7vw;
    }
    .heading {
        text-align: center;
    }
    .d3{
        place-items: center;
    }
    .sobre-mi {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        /* padding: 0 10vw 0 10vw; */
        /* align-items: center; */
    }
    .sobre-mi h2{
        font-size: 7vw;
    }
    
    #bio {
        /* display: flex; */
        width: 100%;
        height: 0%;
        justify-content: center;
        /* padding: 10vw 0 10vw 0; */
    }
    #bio h2 {
        text-align: start;
        
    }
    #bio p {
        width: 90%;
        font-size: 1.2rem;
    }
    
    .imgnsm {
        height: 60vw;
        width: 50vw;
        justify-content: initial;
        
    }
    .imgnsm img {
        mask-image: none;
        width: 100%;
        border-radius: 10%;
    }
    .ver-más {
        font-size: 2vw;
        width: 14vw;
        margin-top: 2vw;
    }
    .testimonios {
        display: flex;
        justify-content: center;
        
    }
    .carrusel-container {
        width: 75%;
        height: 70vw;
    }
    #left{
        margin-right: 1vw;
    }
    #right{
        margin-left: 1vw;
    }
    .d4 h2 {
        font-size: 7vw;
        padding-bottom: 5vw;  
    }
    .tooltip {
        display: none;
        position:absolute;
    }
    .carrusel {
        width: 100%;
        height: 30vh;
    }
    .cart {
        /* padding: 5vw; */
        min-width: 70vw;
        min-height: 45px;
        width: 100%;
        padding-left: 6vw;
    }
    .zoom-image{
        height: 100%;
        width: 100%;
    }
    /*Clases*/
    
    #primero, #medio, #tercero {
        scroll-margin-top: 0px;
    }
    .carta {
        display: grid;
        border-radius: 10% / 5%;
        padding: 2vw;
    }
    .carta .imgclass{
        width: 90%;
    }
    .pagina {
        padding-top: 20vw;
        height: auto;
        gap:30px;
    }
    .olaf {
        width: 100%;
        height: 30px;
    }
    .logopie {
        height: 25vw;
        width: auto;
    }
    .logopie img {
        width: 50%;
    }
    footer .social-icons i{
        font-size: 20px;
    }
    .contac {
        margin-bottom: 4vw;
    }
    footer{
        height: auto;
    }
    
}