@media (max-width: 1449px){
    .header-content{
        /* background-color: #EAC9C2; */
    }
    .header-content{
        height: 100%;
    }
    .logo{
        z-index: 1;
    }
    .olas{
        /* opacity: 1; */
        height: 10vh;
        /* top:0; */
    }
    #men {
        overflow: hidden;
    }
    .menu {
        position: fixed;
        /* display: grid; */
        width: 50%;
        height: 100vh;
        background-color: #EAC9C2;
        flex-direction: column;
        right: -0.4%;
        top:5%;
        left:-100%;
        margin-bottom: 100vw;
        text-align: center;
        align-items: center;
        transition: all .5s;
        z-index: 11;
    }
    .menu li{
        display: block;
        margin: 10vh;
        border-bottom: 1px solid white;
        padding-bottom: 4vw;
        /* flex-direction: column; */
        /* height: 100%; */
    }
    .menu li a{
        
        padding: auto;
        /* border-radius: 20%; */
        font-size: 2vh;
        /* width: 100vw; */
    }
    .toggle{
        display: flex;
    }
    
    /*contenido*/
    .d1 h2{
        margin-bottom: 2vw;
        font-size: 3vw;
    }
    .d1 h3 {
    font-size: 2vw;
    }
    
}

@media(max-width: 767px){
    .input-group{
        flex-wrap: wrap;
        /* place-items: center; */
        /* justify-content: 0; */
    }
    .register{
        position: relative;
        /* left: 40%; */
        
    }

}

@media(max-width: 757px){
    header{
        height: 100px;
    }
    .navbar{
        padding-top: 0px;
        padding-bottom: 0;
    }
    .header-content{
        height: 60px;
        justify-content: center;
    }
    
    .logo{
        height: 100%;
        width: 20vw;
        right: 10%;
    }
    .menu{
        height: 100%;
        /* left: 0vw; */
    }
    .menu li{
        margin:10%;
    }
    .tooltip-container{
        height: 100%;
        width: 20vw;
        margin-right: 0;
    }
    .button-content{
        top:30%;
        padding:0;
    }
    .redes{
        font-size: 4vw;
        margin-right: 0;
    }
    /*contenido*/
    .d1 h2{
        text-align: center;
        margin-bottom: 3vw;
        font-size: 5vw;
    }
    .d1 h3 {
    font-size: 3vw;
    }
    .d1 svg, .d2 svg, .d3 svg, .d4 svg{
        height: 10vw;
    }
    .d2 {
        display: flex;
        flex-direction: column;
    }
    .clases, .Experiencias, .servicios, .cursos {
        margin: 0;
    }
    .category {
        font-size: 5vw;
    }
    .heading {
        font-size: 3vw;
    }
    .input-group {
        margin-bottom: 10vw;
    }
    
}
@media(max-width: 430px) {
    .olas-abajo{
        height: 10vw;
    }
    .card{
        justify-items: center;
        margin: 5vw;
    }
    .clases, .Experiencias, .servicios, .cursos{
        margin:0;
    }
    .category {
        font-size: 7vw;
    }
    .heading {
        font-size: 3vw;
        text-align: center;
    }
    .d3{
        place-items: center;
    }
    .sobre-mi {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        /* padding: 0 10vw 0 10vw; */
        /* align-items: center; */
    }
    .sobre-mi h2{
        font-size: 7vw;
    }
    
    #bio {
        /* display: flex; */
        width: 100%;
        height: 0%;
        justify-content: center;
        /* padding: 10vw 0 10vw 0; */
    }
    #bio h2 {
        text-align: start;
        
    }
    #bio p {
        width: 90%;
        font-size: 3vw;
    }
    .imgnsm {
        display: none;
        height: 60vw;
        width: 50vw;
        justify-content: initial;
    }
    .imgnsm img {
        width: 100%;
    }
    .ver-más {
        font-size: 2vw;
        width: 14vw;
        margin-top: 2vw;
    }
    .testimonios {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .testimonios h2 {
        font-size: 7vw;
        padding-bottom: 10vw;
        
    }
    .carrusel {
        width: 70%;
    }
    .cart {
        /* padding: 5vw; */
        min-width: 45vw;
        min-height: 45px;
        width: 100%;
        padding-left: 6vw;
    }
    .zoom-image{
        height: 100%;
        width: 100%;
    }
    /*Clases*/

    .pagina {
        padding-top: 20vw;
        
    }
    .olaf {
        width: 100%;
        height: 50px;
    }
    
}