.number-font{
    font-size: 1vw; 
    font-family: Serif;
    font-weight: 100;
}

@media(max-width: 430px){
    .number-font{
        font-size: 1.1rem;
    }
    #bio .number-font{
        font-size: 0.8rem;
    }
}