dialog{
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: 0;
    left: 0;
    /* height: 100vh;
    width: 100vw; */
    margin: 300px 650px;
    border-radius: 5%;
    border-color: #D5B75E;
    /* mask-image:url(Images/blob2.svg);
    mask-size: cover;
    mask-repeat: no-repeat; */
    margin-top: 470px;
}
.discountForm {
    width: 500px;
    height: 270px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 30px;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
    text-align: center;
    border-radius: 5%;
    
    /* opacity: 0.8; */
}

.DiscountHeading {
    font-family: 'Romman';
    font-size: 1.5em;
    color: #E9c9c2;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}



.inputContainer {
    font-family: 'Monterchi-Serif';
    width: 100%;
    display: center;
    flex-direction: column;
    margin-top: px;
    gap: 10px;
    font-size: 30px;
    color: #9d7378;
}
.inputContainer ul{
    margin: 30px 60px;
    text-align: initial;
    list-style-type: none;
}
.inputContainer ul li i{
    
    font-size: 15px;
}
.inputContainer h2{
    font-size: 40px;
    margin-top: 100px;
}

.submitButton {
    font-family: 'Romman';
    width: 50%;
    height: 50px;
    border: none;
    background-color: #E9c9c2;
    color: white;
    font-weight: 550;
    cursor: pointer;
    padding-bottom:15px;
    border-radius: 10px;
}

.submitButton:hover {
    background-color: #EAA7A7;
}

.exitBtn {
    position: absolute;
    top: 9px;
    right: 10px;
    background-color: #F6DEDC ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* border: none; */
    color: #9d7378;
    font-size: 2.1em;
    cursor: pointer;
}
.exitBtn:hover{
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171);
}