.header-content {
    background-color: #EAC9C2;
} 
.olas {
    opacity: 1;
}
section {
    display: flex ;
    justify-content: space-evenly;
}
.pagina {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    margin-top: 9vw;
    background-color: #E5D39E;
    padding: 4vw;
    text-align:left;
    color: #9d7378;
}
.pagina h1 {
    font-size: 3vw;
    text-align: center;
}
.Ysom {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2vw;
    flex-direction: column;

}
.Ysom h1{
    font-size: 2vw;
    /* text-align: center; */
}
.imgclass {
    /* margin: 2vw auto; */
    width: 30%;
    overflow: hidden;
    
    /* align-items: center; */
}
.imgclass img{
    width: 100%;
    object-fit: cover;
}
.somt {
    display: flex;
}
.somt p {
    padding: 2vw;
}
#postural {
    margin-top: 2vw;
}
