.ret{

    padding: 20px; 
}
.retiros{
    width: 300px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}
.retiros ul{
    display: flex;
    padding: 0;
    width: 400%;
}

.retiros li{
    list-style: none;
    width: 100%;
}
.retiros img{
    width: 100%;
    
}