.testimonios {
    width: 90%;
    align-items: center;
    /* align-content: center; */
    /* place-content: center; */
    object-fit: contain;
    height: 100%;
    display: flex;
}
.testimonios h2 {
    text-align: center;
}

.carrusel-container {
  position: relative;
  overflow: hidden; /* Asegura que los pseudo-elementos no se salgan del contenedor */
}

.carrusel-container::before,
.carrusel-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 10%; /* Ajusta el ancho del degradado */
  height: 100%;
  pointer-events: none; /* No bloquea los clics */
  z-index: 1; /* Asegúrate de que esté por encima del carrusel */
}

.carrusel-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Degradado desde opaco a transparente */
}

.carrusel-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Degradado desde opaco a transparente */
}

.carrusel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: .5rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    width: 100%;
    /* position:initial; */
}

.carrusel::-webkit-scrollbar {
    display:none;
}
.cart {
    /* padding-left: 35px; */
    scroll-snap-align: start;
    border-radius: 30px;
    min-height: 200px;
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#CART1 {
    padding-left: 3vw ;
}
.zoom-image{
    height: 90%;
    width: 95%;
    transition: transform 0.3s ease;
    border-radius: 10%;
}
.zoom-image:hover {
    transform: scale(1.1);
}

/*flechas*/
.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 6%;
    /* padding-top: 40px; */
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 1vw;
    width: 4vw;
    height: 4vw;
    min-width: 30px;
    min-height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px #EAA7A7;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px #EAA7A7;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px #EAA7A7;

  }
  
  .wrapper svg {
    fill: #9d7378;
  }
  
  .wrapper span:hover,
  .wrapper svg:hover,
  .wrapper .black:hover,
  .wrapper .black:hover .tooltip,
  .wrapper .black:hover .tooltip::before {
    background: #EAA7A7;
    color: white;
    fill: white;
  }

  .wrapper span:hover svg{
    height: 2vw;
  }